<!--job listying-->
    <section class="job-list" id="jobs">
        <div>
            <h1>JOB LIST</h1>
        </div>
        <div class="job-card">
            <div class="job-name">
                <div class="job-detail">
                    <h4>company_name</h4>
                    <h3>title</h3>
                    <h3>salary</h3>
                    <h3>location</h3>
                    <h3>type</h3>
                    <h3>author_id</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, officiis.</p>
                </div>
            </div>     
            <div class="job-posted">
                Posted 2 mins ago
            </div>
        </div>