<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style.css">
  <!--font-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
  <!--icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  <title>Job Search App</title>
</head>

<body>
  <!--navbar-->
  <nav class="navbar">
    <h2 class="navbar-logo"><a href="#">iJOBS</a></h2>
    <div class="navbar-menu">
      <a href=" #jobs">Find Jobs</a>
      <a href="../postform/post.html" target="_blank">Post Jobs<a>
          <a href="../sign  in/signIn.html" target="_blank">Sign In / Log In</a>
    </div>

    <div class="menu-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>

  <!--header-->
  <header>
    <h1 class="header-title">
      FIND YOUR <br> <span>PERFECT JOB</span><br>EASILY
    </h1>
  </header>

  {{{body}}}

  <footer>
    <div class="footer-wrapper">
      <h3>iJOBS</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aut perferendis aperiam quam. Id nostrum
        vitae quia repudiandae doloribus unde deserunt iusto nemo aperiam nulla.</p>
    </div>
    <div class="social-media">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="footer-wrapper">
      <h4>Explore</h4>
      <a href="#">Top Companies</a>
      <a href="#">Terms os Services</a>
      <a href="#">Podcast</a>
      <a href="#">Careers</a>
    </div>
    <div class="footer-wrapper">
      <h4>About</h4>
      <a href="#">FAQ</a>
      <a href="#">Get Inspired</a>
    </div>
    <div class="footer-wrapper">
      <h4>Support</h4>
      <a href="#">Customer Service</a>
      <a href="#">Trust & Safety</a>
      <a href="#">Partership</a>
    </div>
    <div class="footer-wrapper">
      <h4>Community</h4>
      <a href="#">Community</a>
      <a href="#">Suggest a friend</a>
      <a href="#">Events</a>
    </div>

  </footer>


</body>

</html>