<!--filter box-->
<div class="filter-box">
    <div class="filter-dropdown">

    
<div class="listing">

    {{#each jobs as |job|}}
    <h1>{{job.title}}</h1>
    <h2>{{job.company_name}}</h2>
    <a href="/jobs/{{job.id}}">Read More</a>
    {{/each}}
</div>