<!--filter box-->
<div class="filter-box">
    <div class="filter-dropdown">

        <section class="job-list" id="jobs">

            {{#each jobs as |job|}}
            <div class="job-card">
                <div class="job-name">
                    <div class="job-detail">
                        <h4>{{job.company_name}}</h4>
                        <h3>{{job.title}}</h3>
                        <p>{{truncate_text job.description 80}}</p>
                        <h3 href="../html/jobDetails/jobdetails.html">See More</h3>
                    </div>
                </div>
                <div class="job-posted">
                    {{recent_date job.date_created}}
                </div>
            </div>
            {{/each}}

            <button class="job-more">More List</button>
        </section>