<!--job listying-->
<section class="job-list" id="jobs">
    <div>
        <h1>JOB DETAILS</h1>
    </div>
    <div class="job-card">
        <div class="job-name">
            <div class="job-detail">
                <h3>Company Name:</h3>
                <h4>Title:</h4>
                <h4>Salary:</h4>
                <h4>Location:</h4>
                <h4>Type:</h4>
                <h4>Posted By:</h4>
                <p>Details:</p>
            </div>
        </div>
        <div class="job-posted">
            Posted 2 mins ago
        </div>
    </div>
</section>