<form>
  <div class="container">

    <h1>Login</h1>
    <p>Please fill in this form to logim.</p>
    <p class="alreadyAcc">Don't have an account? Please, <a href="/signup">sign up</a> now for free!</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="password" required>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label><br>

    <div class="loginOptions">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn" id="signupbtn">Login</button>
    </div>
    <div>
      <span class="psw">Forgot <a href=#>password?</a></span>
    </div>
  </div>
</form>

<script src="/js/login.js"></script>