:root{
    --primaryColor: #0076de;
    --whiteColor:#fff;
    --blackColor:#333;
    --greyColor:#f6f8fa;
    --labelColor:#64b1f5;
    --yellowColor:#ffd723;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    font-family: "Nunito", sans-serif;
}

body {
    width: 100%;
    height:auto;
}

h1 {
    line-height:1.5;
}

.navbar {
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    padding: 1rem 2.5rem;
    z-index:10;
    color: var(--whiteColor);
    background: black;
}

.navbar-logo > a {
    letter-spacing: 2.5;
    text-decoration: none;
    color: var(--whiteColor)
}

.navbar-menu{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.navbar-menu > a {
    color:var(--whiteColor);
    text-decoration: none;
}

.menu-toggle {
    display:none;
}

.menu-toggle .bar {
    width:15px;
    height:2px;
    margin: 3px auto;
    transition: all 0.3 ease-in-out;
    background-color: var(--whiteColor);
    cursor:pointer;
}

header {
    width:100%;
    min-height: 400px;
    background-image: url("../public/image/header-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
}

.header-title {
    position: relative;
    top: 7rem;
    left: 3rem;
    letter-spacing: 3;
    font-weight: bolder;
    font-size:52px;
    color: var(--primaryColor);
    text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.2);
}

.header-title > span {
    color:var(--yellowColor)
}

.search-wrapper{
    position:relative;
    width: 60%;
    margin: auto;
    min-width: 300px;
    height: 3.5rem;
    border-radius: 20px;
}

.search-box {
    width: 100%;
    position: relative;
    background-color: var(--greyColor);
    box-shadow: rgba(2,11,20,0.2) 0px 5px 15px;
    top:-45%;
    height:100%;
    width:100%;
    border-radius: 20px;
}
.search-card {
    display:flex;
    justify-content:space-between;
    height:100%;
    padding:0.5rem;
    border-radius: 20px;
}

.search-input {
    height:100%;
    width:100%;
    border:none;
    padding:0.5rem;
    border-radius: 20px;
}

.search-button{
    width:200px;
    background:var(--primaryColor);
    border: none;
    color: var(--whiteColor);
    cursor: pointer;
    border-radius: 20px;
}


.filter-box{
    width:100%;
    height:auto;
    font-size:0.8rem;
    width:60%;
    min-width: 300px;
    margin: auto;

}

.filter-dropdown {
    width:100%;
    border-bottom: 1px solid var (--labelColor);
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    gap:0.3rem;
}

.filter-select{
    border:none;
    padding: 0.2rem;
}

.filter-select:hover{
    background: var(--greyColor);
}

.filter-chosen{
    width:100%;
    padding: 0.3rem 0;
    display: flex;
    flex-wrap: wrap;
    gap:0.5rem;

}

.chosen-card{
    background: var(--primaryColor);
    padding:0.2rem 0.5rem;
    border-radius: 20px;
    color:var(--whiteColor);
    cursor:pointer;
}

.job-list{
    margin:5%;
    padding:1rem;
    background-color: var(--greyColor);

}

.job-card {
    display:flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    min-height: 100px;
    align-items: center;
    background-color: var(--whiteColor);
    box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    border-radius: 20px;
}

.job-card:hover {
    box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.job-name{
    display:flex;
}

.job-detail {
    padding: 01 0px;
}

.job-detail > h4 {
    color : var(--primaryColor);
    font-size:0.9rem;
}

.job-detail > p {
    display:-webkit-box;
    overflow: hidden;
}

.job-more {
    display:block;
    padding: 0.3rem 2rem;
    margin:20px auto;
    width:250px;
    background-color: transparent;
    color:var(--primaryColor) ;
    border: 1px solid var(--primaryColor);
    border-radius: 20px;
    cursor: pointer;
}

.job-more:hover{
    background-color: var(--primaryColor);
    color:var(--whiteColor);
}

.join {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    position:relative;
}

.join-detail {
    min-width:280px;
    width: 50%;
    z-index: 2;
    margin-bottom: 1rem;
}

.join-detail > h1 {
    font-size: 36px;
    letter-spacing: 2;
}

.join-button {
    width:200px;
    padding: 1rem;
    border:none;
    color: var(--blackColor);
    background-color: var(--yellowColor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
    cursor:pointer;
    border-radius: 20px;
}

.join-button:hover {
    background: transparent;
    border: 2px solid var(--yellowColor);
    
}

.featured{
    width:100%;
    height:auto;
    text-align: center;
    padding:5rem 1rem;
    background-color: var(--greyColor);
}

.section-title{
    margin-bottom: 0.5em;
    letter-spacing: 1.5;
    font-size:36px;
}

.featured-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    align-items: center;
    width:100%;
    padding:2% 10%;
}

.featured-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    background-color: var(--whiteColor);
    box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
}

.featured-card:hover{
    box-shadow: rgba(100,100,111,0.2)0px 7px 29px 0px;
}

.featured-button {
    border: 1px solid var(--primaryColor);
    background-color: transparent;
    margin-top: 0.5rem;
    padding:3px 10px;
    cursor:pointer;
    color:var(--primaryColor);
    border-radius: 20px;
}

.featured-button:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

footer {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--primaryColor);
    color:var(--whiteColor);
    padding:3rem;
}

.footer-wrapper{
    display:flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content:flex-start;
    align-items: flex-start;
}

.footer-wrapper h3,
.footer-wrapper h4 {
    line-height: 3;
    color:var(--yellowColor)
}

.footer-wrapper p {
    max-width: 400px;
    line-height: 1.5;
}

.social-media {
    margin-top: 1rem;
}

.social-media a {
    text-decoration: none;
    color: var(--greyColor);
    margin-right:10px;
}

.footer-wrapper a {
    text-decoration: none;
    color: var(--greyColor);
    line-height: 2;
}

.footer-wrapper a {
    text-decoration: underline;
}